################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/lesson2/FileContentIndex/09ecf8dc-3106-47eb-aa47-e5c10a91b030.vsidx
/.vs/lesson2/FileContentIndex
