################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/lesson2/FileContentIndex/09ecf8dc-3106-47eb-aa47-e5c10a91b030.vsidx
/.vs/lesson2/FileContentIndex/ed85e787-6046-4e29-a362-e5947fd075e2.vsidx
/.vs/lesson2/FileContentIndex/32c23e95-2e75-4b95-84c4-212518a0f09d.vsidx
/.vs/lesson2/FileContentIndex
/.vs/slnx.sqlite
/.vs/lesson2/v17/.wsuo
/.vs/slnx.sqlite
